@import url('https://fonts.googleapis.com/css2?family=Birthstone+Bounce&display=swap');

h1 {
    font-family: 'Birthstone Bounce', cursive;
    color: white;
}

@media screen and (max-width:992px) {
    header {
        display: flex;
        flex-direction:column;
        text-align:center;
        justify-content: center;
    }
}

@media screen and (max-width:768px) {
    nav a {
        display: block;
        padding-bottom: 15px;
    }
}